In [35]:
import pandas as pd
import spacy

from sklearn.feature_extraction.text import CountVectorizer

In [36]:
nlp = spacy.load("en_core_web_sm")
nlp.add_pipe("emoji", first=True)

In [37]:
data_source = "..\\data\\corpus_top50.csv"

data = pd.read_csv(data_source)

data['text'] = data['text'].apply(lambda text: [word for word in nlp(text)])

data.head(5)

,Unnamed: 0.1,Unnamed: 0,query_id,doc_id,rank,score,text
0,0,0,156493,2928707,0,109.77907,"[Goldfish, Only, Grow, to, the, Size, of, Thei..."
1,1,1,156493,8182162,1,109.76814,"[Depending, on, his, type, and, his, environme..."
2,2,2,156493,1960257,2,108.87568,"[Goldfish, Only, Grow, to, the, Size, of, Thei..."
3,3,3,156493,8182159,3,107.93494,"[', Goldfish, usually, grow, with, their, envi..."
4,4,4,156493,8182160,4,107.91983,"[The, rate, at, which, your, goldfish, grows, ..."

In [38]:
texts = data.text.to_list()
texts[:2]

[[Goldfish,
  Only,
  Grow,
  to,
  the,
  Size,
  of,
  Their,
  Enclosure,
  .,
  There,
  is,
  an,
  element,
  of,
  truth,
  to,
  this,
  ,,
  but,
  it,
  is,
  not,
  as,
  innocent,
  as,
  it,
  sounds,
  and,
  is,
  related,
  more,
  to,
  water,
  quality,
  than,
  tank,
  size,
  .,
  When,
  properly,
  cared,
  for,
  ,,
  goldfish,
  will,
  not,
  stop,
  growing,
  .,
  Most,
  fishes,
  are,
  in,
  fact,
  what,
  are,
  known,
  as,
  indeterminate,
  growers,
  .],
 [Depending,
  on,
  his,
  type,
  and,
  his,
  environment,
  ,,
  goldfish,
  have,
  the,
  capacity,
  to,
  grow,
  anywhere,
  from,
  around,
  6,
  to,
  15,
  inches,
  within,
  a,
  very,
  short,
  period,
  of,
  time,
  .,
  If,
  they,
  are,
  kept,
  in,
  tiny,
  aquariums,
  or,
  little,
  bowls,
  ,,
  they,
  will,
  still,
  grow,
  ,,
  but,
  much,
  more,
  slowly,
  .,
  Those,
  conditions,
  are,
  somewhat,
  cramped,
  for,
  the,
  fish,
  and,
  that,
  will,
  show,
  in,
  ...]]

In [39]:
vocabulary = set()
for doc in texts:
    for token in doc:
        if token.pos_ not in ("SYM", "PUNCT", "X", "NUM"):
            vocabulary.add(token.text.lower())

vocabulary_pd = pd.Series(list(vocabulary))

In [40]:
print(vocabulary_pd.shape)
vocabulary_pd.head(5)

(10817,)

0      serious
1      periods
2     fumarate
3    abundance
4     analyzer
dtype: object

In [41]:
vocabulary_pd.to_csv("..\\data\\vocabulary_corpus_top50.csv", header=False)

In [32]:
vocabulary_pd = pd.read_csv("..\\data\\vocabulary_corpus_top50.csv", names=["word"])

In [33]:
vocabulary_pd.head(5)

       word
0    Jasper
1       -RN
2   serious
3   periods
4  fumarate

In [34]:
vocabulary_pd.word.to_list()[0]

'Jasper'